.calendar-container {
  //   max-height: 600px;
  //   overflow-y: scroll;

  .fc-timegrid-event-harness {
    width: 33%;
  }
  .calendar-event {
    overflow: hidden;
    height: inherit;
    position: relative;
    .icons-containers {
      position: absolute;
      right: 0;
      top: 0;
    }
    .event-content {
      padding: 0.25em;
    }
  }

  &.prog-calendar {
    [data-time^='03'],
    [data-time^='04'],
    [data-time^='05'],
    [data-time^='06'],
    [data-time^='07'],
    [data-time^='08'],
    [data-time^='09'],
    [data-time^='10'] {
      display: none;
    }
  }
}

.calendar-workshop {
  .fc-timegrid-event-harness {
    width: 14%;
  }
}

.band-details {
  height: 100vh;
  max-width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  border-left: 1px solid black;
  z-index: 10;
  padding: 1em;
  overflow-y: scroll;

  .band-details-title {
    font-size: 1.2em;
  }

  .label {
    font-weight: bold;
  }
  .band-detail-img {
    max-width: 200px;
  }
}

.prog-table {
  .numeric-link,
  .other-elements {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .band-imgs img {
    max-width: 200px;
    margin: 0.1em;
  }
}
