// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';

// Then import Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@b-cedric/react-common-bootstrap/styles/styles.scss';

@import 'content.scss';
@import 'menu.scss';

body {
  background-color: white;
}
