// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';
$legend-font-weight: bold;

// Then import Bootstrap
@use 'bootstrap';

@forward '~@b-cedric/react-common-bootstrap/styles/styles.scss';

@forward 'content.scss';
@forward 'login-form.scss';
@forward 'menu.scss';
@forward 'prog.scss';

body {
  background-color: white;
}
