// Variable overrides first


@import 'variables.scss';

// Then import Bootstrap
@import 'bootstrap';

@import '~@b-cedric/react-common-bootstrap/styles/styles.scss';

@import 'content.scss';
@import 'form.scss';
@import 'login-form.scss';
@import 'menu.scss';
@import 'prog.scss';
@import 'workshop.scss';

body {
  background-color: white;
}
