.workshop-line {
  margin-left: 2em;
}

.workshop-form {
  position: fixed;
  top: 4em;
  right: 0;
  min-width: 400px;
  height: 90vh;
  margin: 1em;
  padding: 1em;
  z-index: 10;
  border-left: 1px solid black;
  overflow-y: scroll;
}
