services:
  www:
    container_name: www_comboros_tools
    build:
      context: ../
      dockerfile: ./.docker/Dockerfile
      args:
        NODE_TAG: ${NODE_TAG}
        UPLOAD_DIR: ${UPLOAD_DIR}
        IMG_DIR: ${IMG_DIR}
        APACHE_IMAGE: ${APACHE_IMAGE}
    volumes:
      - ../.env.local:/var/www/html/.env.local
      - ../../comboros-tools-data/band-imgs:/var/www/html/var/band-imgs
    networks:
      - localNetwork
      - webgateway
    entrypoint: ['/bin/sh', '.docker/entrypoint.sh']
    ports:
      - ${APP_PORT}:80
    restart: unless-stopped
  db:
    image: ${DB_IMAGE}:${DB_TAG}
    container_name: db_comboros_tools
    volumes:
      - ../../comboros-tools-data/db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    networks:
      - localNetwork
    ports:
      - '${DB_PORT}:3306'
    restart: unless-stopped

volumes:
  db_data:
    driver: local

networks:
  webgateway:
    external: true
  localNetwork:
    name: comboros_tools_net
    driver: bridge
